.testimonialContainer {
    background-color: white;
    width: 30rem;
    height: max-content;
    border-radius: 20px;
    box-shadow: 0 0 15px -6px black;
    margin: 1rem;
    padding: 1rem;
    color: black;
}

.imageContainer>img {
    width: 100%;
    height: 100%;
    border-radius: 70%;
}

.imageContainer {
    background-size: cover;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background-color: grey;
}

.testimonialHeader {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.testimonialBody {
    text-align: justify;
    padding-left: 8px;
    padding-right: 8px;
}

.iconContainer {
    width: 30px;
    justify-self: end;
    margin-left: auto;
}

.icon {
    fill: rgb(15, 16, 17);
}

.nameContainer {
    margin-left: 10px;
    text-align: left;
}

.testimonialBodyText {
    font-size: 1rem;
}

.testimonialContainer>p {
    margin: 0.2rem;
    font-size: 0.9rem;
}

.testimonialContainer>h4 {
    margin: 0;
}

.tesimonial__div {
    width: 80%;
    margin: 5rem auto;
    display: flex;
    gap: 1rem;
}

.testimonial__card {
    margin-left: 5rem;
}