.my__works {
    width: 80%;
    margin: 5rem auto;
    text-align: center;
}

.work__card {
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.work__card img {
    width: 100%;
    height: 50rem;
    background-size: cover;
    box-sizing: border-box;
    transition: all 1.1s;
}

.work__card:hover img {
    transform: scale(1.01);
    opacity: 0.5;
}

.work__card:hover .overlay {
    opacity: 1;
}

.my__works h1 {
    margin-top: 5rem;
}

.horizontal-line {
    border: 1px solid white;
    margin: 10px 0;
}

.work__card hr {
    margin: 2rem auto;
}

.popup__div {
    width: 60%!important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    box-sizing: border-box;
    transition: all 1.1s;
    opacity: 0;
    /* Start with opacity 0 */
}

.overlay h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 2rem;
}

.overlay:hover {
    opacity: 1;
}

@media only screen and (max-width: 1300px) {
    .overlay {
        width: 100%;
        padding: 1rem;
    }
    .work__card img {
        width: 100%;
        height: 45rem;
    }
    .overlay h2 {
        font-size: 2rem;
        margin-bottom: 6px;
    }
    .overlay p {
        font-size: 1.2rem;
    }
}

@media (min-device-width: 20px) and (max-device-width: 500px) {}

@media only screen and (max-width: 1200px) {
    .work__card img {
        width: 100%;
        height: 40rem;
    }
}

@media only screen and (max-width: 1100px) {
    .overlay h2 {
        font-size: 1.8rem;
        margin-bottom: 6px;
    }
    .overlay p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 850px) {
    .work__card img {
        width: 100%;
        height: 30rem;
    }
    .overlay h2 {
        font-size: 1.4rem;
        margin-bottom: 6px;
    }
    .overlay p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 600px) {
    .work__card img {
        width: 100%;
        height: 20rem;
    }
}

@media screen and (max-width: 400px) {}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {}

@media only screen and (device-width: 768px) {}